window
{
    title = Racer
    width = 1280
    height = 720
    fullscreen = false
}

scripts
{
    initialize = res/common/racer.lua#initialize
    update = res/common/racer.lua#update
    render = res/common/racer.lua#render
    finalize = res/common/racer.lua#finalize
    keyEvent = res/common/racer.lua#keyEvent
    touchEvent = res/common/racer.lua#touchEvent
}

aliases 
{
    car = res/design/car.png
    chain_fence_1 = res/design/chain_fence_1.png 
    design_11 = res/design/design_11.png 
    d_tree = res/design/d_tree.png 
    gamepad = res/design/gamepad.png 
    grassbunch_1 = res/design/grassbunch_1.png 
    grassbunch_2 = res/design/grassbunch_2.png 
    gravel_2 = res/design/gravel_2.png 
    panel_1 = res/design/panel_1.png 
    panel_10 = res/design/panel_10.png 
    panel_11 = res/design/panel_11.png 
    panel_12 = res/design/panel_12.png 
    panel_13 = res/design/panel_13.png 
    panel_14 = res/design/panel_14.png 
    panel_15 = res/design/panel_15.png 
    panel_16 = res/design/panel_16.png 
    panel_2 = res/design/panel_2.png 
    panel_3 = res/design/panel_3.png 
    panel_4 = res/design/panel_4.png 
    panel_5 = res/design/panel_5.png 
    panel_6 = res/design/panel_6.png 
    panel_7 = res/design/panel_7.png 
    panel_8 = res/design/panel_8.png 
    panel_9 = res/design/panel_9.png 
    panorama_2 = res/design/panorama_2.png
    panorama_3 = res/design/panorama_3.png 
    rails = res/design/rails.png 
    shrub_1 = res/design/shrub_1.png 
    shrub_2 = res/design/shrub_2.png 
    shrub_3 = res/design/shrub_3.png 
    textures_8 = res/design/textures_8.png 
    track_1 = res/design/track_1.png 
    tree = res/design/tree.png 
    tree_2 = res/design/tree_2.png 
    tree_3 = res/design/tree_3.png 
    tree_4 = res/design/tree_4.png 
    tree_5 = res/design/tree_5.png 
    tree_6 = res/design/tree_6.png 
    tree_7 = res/design/tree_7.png 
    trunk_1 = res/design/trunk_1.png 
    trunk_2 = res/design/trunk_2.png 
} 

gamepad
{
    form = res/common/gamepad.form
}

ui
{
    theme = res/ui/default.theme
}
